@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  ::-webkit-scrollbar {
    width: 0.7em;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #efefef;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
app-my-form {
  width: 100%;
}
app-my-list {
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
